.reface {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  background: transparent;
  & > video {
    width: 100%;
    max-height: 50vh;
  }
}
.reface-mobile {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  background: transparent;
  margin-top: 5px;
  & > video {
    width: auto;
    max-height: 256px;
  }
}
.reface_controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  padding: 0 10px;
  width: calc(100% - 20px);
}
